@media only screen and (min-width:1441px){
  .hideLarge{
    display: block;
  }
  .hideMiddle{
    display: none;
  }
  .hideSmall{
    display: none;
  }
}

@media only screen and (max-width:1440px){
  .hideLarge{
    display: none;
  }
  .hideMiddle{
    display: block;
  }
  .hideSmall{
    display: none;
  }
}

@media only screen and (max-width:430px){
  .hideLarge{
    display: none;
  }
  .hideMiddle{
    display: none;
  }
  .hideSmall{
    display: block;
  }
}
