/* Text responsive */
@media only screen and (min-width:1441px){
  .titleFont{
    font-size: 96px;
    font-weight: 900;
    line-height: 96px;
    margin-bottom: 2rem;
  }
  .skillTypeFont{
    font-size: 48px;
    font-weight: 700;
  }
  .commentSizeBold{
    font-size: 52px;
  }
  .commentSize{
    font-size: 40px;
  }
  .imageSize{
    width: 120px;
  }
  .imagePosition{
    margin-left: -60px;
  }
}

@media only screen and (max-width:1440px){
  .titleFont{
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 1rem;
  }
  .skillTypeFont{
    font-size: 34px;
    font-weight: 700;
  }
  .commentSizeBold{
    font-size: 44px;
  }
  .commentSize{
    font-size: 28px;
  }
  .imageSize{
    width: 90px;
    height: 90px;
  }
  .imagePosition{
    margin-left: -45px;
  }
}

@media only screen and (max-width:430px){
  .titleFont{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 0.5rem;
  }
  .skillTypeFont{
    font-size: 20px;
    font-weight: 700;
  }
  .commentSizeBold{
    font-size: 24px;
  }
  .commentSize{
    font-size: 16px;
  }
  .imageSize{
    width: 60px;
    height: 60px;
  }
  .imagePosition{
    margin-left: -30px;
  }
}

/* Layout Responsive */
.paperBG{
  background-color: #fffefc;
  border: 1px rgba(128, 128, 128, 0.345) solid;
  background-image: url(../../../../public/LandingpageImages/bg-paperStyle.png);
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 12px;
  box-shadow:
    0 2px 5px rgba(0,0,0,0.06),
    inset 0 0 5px rgba(0,0,0,0.05);
  padding: 2rem;
}

@media only screen and (min-width:1001px){
  .container{
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width:1000px){
  .container{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .imageLayout{
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }
}
