/* Text responsive */
@media only screen and (min-width:1441px){
  .projectName{
    font-size: 48px;
  }
  .subTitle{
    font-size: 36px;
  }
}

@media only screen and (max-width:1440px){
  .projectName{
    font-size: 36px;
  }
  .subTitle{
    font-size: 26px;
  }
}

@media only screen and (max-width:430px){
  .projectName{
    font-size: 24px;
  }
  .subTitle{
    font-size: 16px;
  }

}

/* Layout Responsive */
@media only screen and (min-width:1001px){
  .containerLeftText{
    display: grid;
    grid-template-areas: 
    "textTitle pic"
    "textDetail pic"
    "teckStack teckStack"
    "detail detail"
    "btn btn"
    ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .containerRightText{
    display: grid;
    grid-template-areas: 
    "pic textTitle"
    "pic textDetail"
    "teckStack teckStack"
    "detail detail"
    "btn btn"
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .forPhone{
    display: none;
  }
  .textLayout{
    order: 2;
    width: 67%;
  }
  .btnArea{
    width: 50%;
    margin: 3rem auto 1rem;
  }
}

@media only screen and (max-width:1000px){
  .containerLeftText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .containerRightText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .phoneImg{
    margin: auto;
  }
  .forPC{
    display: none;
  }
  .subTitle{
    margin-bottom: 1rem;
  }
  .btnArea{
    width: 80%;
  }

  .orderProjectPhone1{
    order: 1;
    border-bottom: 0;
  }
  .orderProjectPhone2{
    order: 2;
  }
  .orderProjectPhone3{
    order: 3;
  }
  .orderProjectPhone4{
    order: 4;
  }
}

@media only screen and (max-width:550px){
  .btnArea{
    width: 100%;
  }
}
