/* Text size */
@media only screen and (min-width:1441px){
  .titleFont{
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
  }
}

@media only screen and (max-width:1440px){
  .titleFont{
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
  }
}

@media only screen and (max-width:430px){
  .titleFont{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
}

/* Title area */
@media only screen and (min-width:1441px){
  .titleArea{
    width: 75%;
    height: 100px;
    padding: 1rem 0;
  }
}

@media only screen and (max-width:1440px){
  .titleArea{
    width: 70%;
    height: 80px;
    padding: 1rem 0;
  }
}

@media only screen and (max-width:768px){
  .titleArea{
    width: 100%;
    height: 80px;
    padding-top: 100px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width:430px){
  .titleArea{
    height: 50px;
    padding-top: 90px;
  }
}

/* Layout */
@media only screen and (min-width:769px){
  .btnLocation{
    justify-content: flex-end;
  }  
}

@media only screen and (max-width:768px){
  .btnLocation{
    justify-content: space-between;
  }
}
